@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Satoshi-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Satoshi-Black.otf') format('opentype');
}

@theme {
    --font-sans: 'Satoshi', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply bg-white text-slate-900 antialiased;
    font-family: var(--font-sans);
}
